:root {
    --primary-color: #132133;
    --second-primary-color: #61A4FF;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}


body {
    overflow-y: scroll;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0;
    flex: 1;
    scroll-snap-type: y mandatory;

}

section {
    min-height: 80vh;
    scroll-snap-align: start;
}

.scroll_up {
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(97, 164, 255, 0.7);
    position: fixed;
    text-align: center;
    align-content: center;
    color: white;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
}

.up {
    width: 40px;
}

.scroll_up:hover {
    background-color: var(--second-primary-color);

}

/*

    global

*/

.service_budget, .about_us_budget, .how_work_budget, .contact_budget {
    display: block;
    width: 150px;
    background-color: rgba(97, 164, 255, 0.15);
    color: #132133;
    border: 1px solid rgba(97, 164, 255, 0.2);
    border-radius: 20px;
    text-align: center;
    padding: 8px 6px;
}


#services, #how_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: #f9fafb;
}

.service_title_content, .how_work_title_content {
    text-align: center;
}

.service_title,
.how_work_title {
    margin-top: 0;
    font-size: 3rem;
}


.services_boxes, .how_work_boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 80px;
}

.services_boxes > div,
.how_work_boxes > div {
    background-color: #ffffff;
    border: 1px solid #edeeef;
    box-shadow: 8px 6px 8px 0 rgba(237, 238, 239, 0.6);
    border-radius: 8px;
    padding: 30px 44px;
    width: 80%;
    gap: 80px;
    height: 300px;
    cursor: pointer;
}

.services_boxes > div:hover,
.how_work_boxes > div:hover {
    box-shadow: 8px 6px 8px 0 rgba(19, 33, 51, 0.2);

}


.services_boxes > div:hover .service_icons,
.how_work_boxes > div:hover .how_work_icons {
    transform: scale(1.15);
}


.service_icons,
.how_work_icons {
    transition: transform 0.25s ease;
    width: 120px;
}


/*

    Header Section

*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
    height: 100px;
}

.logo {
    width: 150px;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav_list > li {
    font-size: 20px;
    cursor: pointer;
}

.nav_list > li:last-child {
    border: 1px solid var(--second-primary-color);
    border-radius: 12px;
    color: var(--primary-color);
    background-color: var(--second-primary-color);
    padding: 12px 6px;
    text-align: center;
}

.nav_list > li:hover {
    color: var(--second-primary-color);
}


.nav_list > li:last-child:hover {
    color: white;
    box-shadow: 4px 3px 4px 0 rgba(19, 33, 51, 0.2);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger svg {
    cursor: pointer;
    display: block;
    width: 50px;
}

.burger .close-icon {
    display: none;
}

/* Когато менюто е отворено */
.burger.active .burger-icon {
    display: none;
}

.burger.active .close-icon {
    display: block;
}



/*

    Hero Section

*/
#hero {
    min-height: 70vh;
    position: relative;
    color: white;
    overflow: hidden;
    background-color: var(--primary-color);
}

.hero_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    height: 70vh;
}

.hero_desc {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
    min-width: 0;
}

.hero_title {
    font-size: 3.05rem;
}

.hero_sub_title {
    font-size: 1.225rem;
    max-width: 100%;
    overflow-wrap: break-word;
}

.hero_button_more {
    width: 200px;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid rgba(192, 192, 192, 0.5);
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 1.225rem;

}

.hero_button_more:hover {
    background-color: rgba(192, 192, 192, 0.2);
    color: var(--second-primary-color);

}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
}

.hero_img {
    width: 700px;
}

.hero_budget {
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid rgba(97, 164, 255, 0.1);
    background-color: rgba(97, 164, 255, 0.1);
    color: rgba(97, 164, 255, 0.7);
    padding: 8px 6px;
    width: 250px;
    text-align: center;
}

.hero_title_second {
    color: var(--second-primary-color);
}

/*

    About us section

*/

#about_us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about_us_icon {
    width: 700px;
}

.about_us_rigth_side {
    width: 40%;
}

.about_us_title {
    font-size: 3rem;
}

.about_us_sub_title {
    color: var(--second-primary-color);
}

.about_us_lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.about_us_list {
    list-style: none;
    padding-left: 0;
}

.about_us_list:first-child {
    padding-right: 30px;
}

.about_us_list > li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
    width: auto;
    overflow-wrap: break-word;
    align-items: center;
    padding-block: 8px;
}


.check {
    width: 24px;
}


/*

    How works section

*/

.how_work_boxes > div {
    position: relative;
    text-align: center;
}

.indicator {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: var(--second-primary-color);
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 96px;
    align-content: center;
}

/*

    Contact section

*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 70px 0;

}

.contact_title_content {
    text-align: center;
}

.contact_title {
    font-size: 3rem;
}

.contact_budget {
    width: 300px;
}

.contact_boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.contact_form {
    text-align: center;
    height: 700px;
    background-color: #f9fafb;
    box-shadow: 8px 6px 8px 0 rgba(237, 238, 239, 0.6);
    width: 40%;
    border-radius: 30px;

}

.form {
    align-content: center;
    height: 100%;
    font-size: 50px;
    color: var(--second-primary-color);
}

.contact_icons {
    width: 30px;
    height: 30px;
}

.contact_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}

.contact_list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;


}

.contact_list > li > div > span {
    font-size: 14px;
    color: #8e8a8a;
}

.contact_list > li > div > a {
    text-decoration: none;
    color: var(--primary-color);

}

.contact_list > li > div > a:hover {
    color: var(--second-primary-color);
}

.contact_list > li > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact_box_info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 0;

}


.contact_box_info > div {
    background-color: #f9fafb;
    width: 100%;
    padding: 30px;
    box-shadow: 8px 6px 8px 0 rgba(237, 238, 239, 0.6);
    border-radius: 30px;


}


.contact_icon {
    padding: 50px;
    width: 700px;
    background-color: #f9fafb;
    box-shadow: 8px 6px 8px 0 rgba(237, 238, 239, 0.6);
    border-radius: 30px;
}


/*

    Footer

*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    scroll-snap-align: none;
    padding: 80px;
    border-top: 1px solid var(--primary-color);
    margin: 0 9%;
}

footer > .logo {
    width: 250px;
}

footer > span {
    color: var(--primary-color);

}
